:root {
	--screen-mobile: 375px;
	--screen-tablet: 768px;
	--screen-desktop: 1110px;

	--font-accent: 'Amatic SC', cursive;
	--font-main: 'Fira Sans', sans-serif;

	--color-text: #181818;

	--color-bg: #fff;
	--color-bg-header: #d9e3eb;
	--color-bg-footer: #d9e3eb;
	--color-bg-accent-1: #e3f0fa;
	--color-bg-accent-2: #f3f9ff;
	--color-bg-accent-3: #fff;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	min-width: var(--screen-mobile);
	background-color: var(--color-bg);
	font-family: var(--font-main);
	color: var(--font-main);
	font-size: 16px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.wrapper {
	width: 100%;
	padding: 0 20px;
}

.block {
	overflow: hidden;
}

@media (min-width: 768px) {
	.wrapper {
		padding: 0 50px;
	}
}

@media (min-width: 1110px) {
	.wrapper {
		max-width: var(--screen-desktop);
		padding: 0;
		margin: 0 auto;
	}
}
